<h1>Let's collaborate</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p></p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8017268635" %></p>

    <h3>Email</h3>

    <p><a href="mailto:carter.kc.harris@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2999.984294752502!2d-112.00442722002329!3d41.24390001294214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530e7dbab674a5%3A0x79cd62d9d83e725a!2s955+W+12th+St%2C+Ogden%2C+UT+84404!5e0!3m2!1sen!2sus!4v1501590274108" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
